<form [formGroup]="exchangeForm" class="container" (ngSubmit)="addExchange()">
      <button mat-flat-button type="button" style="cursor: auto;"> 
        Add New Unit
      </button>
    <ng-container class="content">
            <mat-form-field>
                <mat-label>From</mat-label>
                <mat-select formControlName="from">
                    <mat-option *ngFor="let unit of exchanges" [value]="unit">{{unit}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-mini-fab type="button" style="cursor: auto;">
                <mat-icon fontIcon="arrow_forward"></mat-icon>
              </button>
              <mat-form-field>
                <mat-label>To</mat-label>
                <mat-select formControlName="to">
                    <mat-option *ngFor="let unit of exchanges" [value]="unit">{{unit}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-flat-button type="submit" [disabled]="exchangeForm.invalid || exchangeForm.controls.from.value == exchangeForm.controls.to.value">
                ADD
            </button>
            <p class="error" *ngIf="exchangeForm.controls.from.value == exchangeForm.controls.to.value && exchangeForm.controls.to.dirty">Both From and To units are the same</p>
    </ng-container>
    
</form>
