.container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding:1vw;
    row-gap: 1vw;
}
.content{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    button[type = 'button']{
        transform: rotate(90deg);
    }
}
.error{
    color: red;
    font-size: 1vw;
}
